# Ядро фреймворка
langchain>=0.1.0
langchain-core
langchain-community
langchain-text-splitters

# Модели и векторная база
langchain-ollama
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers

# Интерфейс
streamlit

# Парсеры документов (PDF, Word, TXT)
pypdf
docx2txt

# Инструменты для OCR (сканы и картинки)
Pillow
pytesseract
pymupdf